.posts {
  @include flex;

  align-items: flex-start;

  &__item {
    min-height: 275px;
    padding: 20px 20px 20px 30px;
    margin-bottom: 20px;

    background-color: $white;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(192, 192, 192, 0.25);

    &__wrapper {
      @include flex-sb;

      flex-direction: column;
      flex-wrap: nowrap;

      min-height: 275px;
    }

    &__title {
      margin: 0;
      margin-bottom: 10px;

      font-size: 18px;
    }

    &__content {
      font-size: 14px;
    }

    &__user-nav {
      @include flex;
    }

    &__comments-icon {
      margin-left: auto;
      padding: 10px;

      background-color: $buttons-background;
      border-radius: 8px;
      cursor: pointer;

      transition: 0.2s ease;

      &:hover {
        opacity: 0.7;
      }

      & svg {
        width: 25px;
        height: 25px;

        position: relative;
        top: 2px;

        & path {
          fill: $color;

          transition: 0.2s ease;
        }
      }

      &--active {
        background-color: $buttons-background-active;

        &:hover {
          opacity: 1;
        }

        & svg path {
          fill: $color-active;
        }
      }
    }
  }

  &__comments {
    &__list {
      @include reset-list;

      overflow: hidden;

      animation: anim-in 0.75s ease;
    }

    &__item {
      margin-bottom: 30px;

      &:first-child {
        margin-top: 15px;
      }
    }

    &__wrapper {
      @include flex;

      align-items: center;
      flex-wrap: nowrap;

      margin-bottom: 10px;
    }

    &__img {
      width: 50px;

      border-radius: 50%;
    }

    &__name {
      display: block;
      margin-left: 10px;

      font-weight: 500;
    }
  }
}

@media (min-width: $pc-middle-width) {
  .posts {
    &__item {
      width: calc(50% - 60px);
      max-width: 600px;

      &:not(:nth-child(2n)) {
        margin-right: 20px;
      }

      &__title {
        font-size: 22px;
      }

      &__content {
        font-size: 16px;
      }
    }
  }
}

@keyframes anim-in {
  from {
    max-height: 0;
  } to {
    max-height: 1000px;
  }
}
