.right-aside {
  display: flex;
  flex-direction: column;

  position: fixed;
  right: -300px;
  top: 0;
  bottom: 0;
  z-index: 300;

  width: 250px;
  max-width: 350px;
  padding: 50px 15px 20px 15px;

  background-color: $white;
  box-shadow: 0 0 20px rgba(192, 192, 192, 0.25);

  transition: 0.3s ease;

  &--opened {
    right: 0;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;

    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 500;

    background-color: transparent;
    border: none;
    border-radius: 50%;
    outline: none;
    cursor: pointer;

    transition: 0.2s ease;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }

    & span {
      width: 5px;
      height: 5px;

      position: relative;

      background-color: $primary;
      border-radius: 50%;

      &::after,
      &::before {
        content: '';

        width: 5px;
        height: 5px;

        position: absolute;
        left: 0;

        background-color: $primary;
        border-radius: 50%;
      }

      &::after {
        top: -10px;
      }

      &::before {
        top: 10px;
      }
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__img {
    width: 50px;

    border-radius: 50%;
  }

  &__name {
    display: block;
    margin-left: 10px;

    overflow: hidden;

    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__email {
    display: block;
    margin-bottom: 5px;
    margin-top: 10px;

    overflow: hidden;

    text-align: right;
    white-space: nowrap;
    text-decoration: underline;
    text-overflow: ellipsis;
  }
  
  &__phone {
    display: block;

    overflow: hidden;

    text-align: right;
    white-space: nowrap;
    text-decoration: underline;
    text-overflow: ellipsis;
  }
}

@media (min-width: $pc-middle-width) {
  .right-aside {
    width: 19%;
    padding-top: 20px;

    right: 0;

    &__btn {
      display: none;
    }
  }
}
