$background: #efeff5;
$background-secondary: #f7f8fd;
$color: #9FA5CE;
$color-active: #66667D;
$primary: #506DCB;
$white: #ffffff;
$buttons-background: #F6F5FC;
$buttons-background-active: #ECEFFA;

$tablet-width: 860px;
$pc-middle-width: 1060px;
